<footer id="mt-footer" class="style1 wow fadeInUp" data-wow-delay="0.4s">
    <!-- Footer Holder of the Page -->
    <div class="footer-holder dark">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 mt-paddingbottomsm">
                    <!-- F Widget About of the Page -->
                    <div class="f-widget-about">
                        <div class="logo">
                            <a href="index.html"><img src="/images/logo.png" alt="Schon"></a>
                        </div>
                        <p>Exercitation ullamco laboris nisi ut aliquip ex commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <!-- Social Network of the Page -->
                        <ul class="list-unstyled social-network">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                        </ul>
                        <!-- Social Network of the Page end -->
                    </div>
                    <!-- F Widget About of the Page end -->
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mt-paddingbottomsm">
                    <div class="f-widget-news">
                        <h3 class="f-widget-heading">Github</h3>
                        <div class="news-articles">
                            <!-- <div class="news-column">
                                <i class="fa fa-twitter"></i>
                                <div class="txt-box">
                                    <p>Laboris nisi ut <a href="#">#schön</a> aliquip econse- <br>quat. <a href="#">https://t.co/vreNJ9nEDt</a></p>
                                </div>
                            </div> -->
                            <div class="news-column">
                                <a href="https://github.com/jewelSama"><i class="fa fa-github"></i></a>
                                <div class="txt-box">
                                    My github acct. <br><br><a href="https://github.com/jewelSama">https://github.com/jewelSama</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mt-paddingbottomxs">
                    <!-- Footer Tabs of the Page -->
                    <div class="f-widget-tabs">
                        <h3 class="f-widget-heading">Product Tags</h3>
                        <ul class="list-unstyled tabs">
                            <li><a href="#">Sofas</a></li>
                            <li><a href="#">Armchairs</a></li>
                            <li><a href="#">Living</a></li>
                            <li><a href="#">Bedroom</a></li>
                            <li><a href="#">Lighting</a></li>
                            <li><a href="#">Tables</a></li>
                            <li><a href="#">Pouf</a></li>
                            <li><a href="#">Wood</a></li>
                            <li><a href="#">Office</a></li>
                            <li><a href="#">Outdoor</a></li>
                            <li><a href="#">Kitchen</a></li>
                            <li><a href="#">Stools</a></li>
                            <li><a href="#">Footstools</a></li>
                            <li><a href="#">Desks</a></li>
                        </ul>
                    </div>
                    <!-- Footer Tabs of the Page -->
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 text-right">
                    <!-- F Widget About of the Page -->
                    <div class="f-widget-about">
                        <h3 class="f-widget-heading">Information</h3>
                        <ul class="list-unstyled address-list align-right">
                            <li><i class="fa fa-map-marker"></i><address>Konoha Road Central Suite 18B, 148 <br>Lagos NGN</address></li>
                            <li><i class="fa fa-phone"></i><a href="tel:+2348145138485">+234 814 513 8485</a></li>
                            <li><i class="fa fa-envelope-o"></i><a href="mailto:osafilejewel@gmail.com">osafilejewel@gmail.com</a></li>
                        </ul>
                    </div>
                    <!-- F Widget About of the Page end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Holder of the Page end -->
    <!-- Footer Area of the Page -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <p>© <a href="/">schön. jewel~sama</a> - All rights Reserved</p>
                </div>
                <div class="col-xs-12 col-sm-6 text-right">
                    <div class="bank-card">
                        <img src="/images/bank-card.png" alt="bank-card">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Area of the Page end -->
</footer><!-- footer of the Page end -->
</div><!-- W1 end here -->
<span id="back-top" class="fa fa-arrow-up"></span>
</div>
<!-- include jQuery -->
<script src="/js/jquery.js"></script>
<!-- include jQuery -->
<script src="/js/plugins.js"></script>
<!-- include jQuery -->
<script src="/js/jquery.main.js"></script>
</body>
</html>